/*
   This template is inspired by
     * "Light" by Viktor Persson (http://templates.arcsin.se)
     * "Brume" by Aigars Dzerviniks (https://github.com/aigarsdz/brume)
*/



/* Globals */

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: #567;
}

a:hover
{
    color: #28E;
}

body
{
    background-color:#FCFCFC;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#113;
    margin: 0 auto;
    width: 710px;
}

tt
{
    font-family: 'Source Code Pro', monospace
}

blockquote,dl,h1,h2,h3,h4,h5,h6,hr,img,ol,p,table,ul,.highlight
{
    margin-bottom: 20px;
}

blockquote
{
    padding:16px;
    border-left:2px solid #cfcfcf;
    margin: 0 48px 20px 48px;
    background-color: #fafafa;
}

blockquote p
{
    margin: 0;
}

ol,ul
{
    margin-left:40px
}


img
{
    max-width:100%;
    height:auto;
    border:0;
    outline:0
}

pre
{
    overflow-x: auto;
}

code
{
    font-family: 'Source Code Pro', monospace;
}

p code, li code
{
    padding:0 2px;
    background-color:#fafafa;
    border:1px solid #f0f0f0;
    border-radius:3px;
    -moz-border-radius:3px;
}

hr
{
    border:0;
    height:25px;
    background:url(/img/hr.png) center center no-repeat;
    margin: 42px 0px;
    clear: both;
}


h1,h2,h3
{
    color: #567;
}

table
{
  margin: 32px auto;
  border-collapse: collapse;
  border: 1px solid #DDD;
  background-color:#fafafa;
}

table td
{
  padding: 2px 16px;
  border-left: 1px solid #567;
}

table th
{
  border: 1px solid #567;
  text-align: center;
  padding: 2px 16px;
}

table tr:first-child th
{
  border-top: 0;
  padding-top: 8px;
}

table tr:last-child td
{
  border-bottom: 0;
  padding-bottom: 8px;
}

table tr td:first-child, table tr th:first-child
{
  border-left: 0;
  padding-left: 20px;
}

table tr td:last-child, table tr th:last-child
{
  border-right: 0;
  padding-right: 20px;
}



/* Header */

#header
{
    height: 100px;
    padding: 0 32px;
    border-bottom: 2px solid #889;
    position: relative;
}

#sub-header
{
    margin-top: 10px;
    padding: 0px 32px;
    clear: both;
    height: 32px;
    position: relative;
}

#title
{
    position: absolute;
    bottom: 4px;
    left: 0;
    float: left;
}

#self
{
    color: #133;
    float: right;
    font-size: 42px;
    margin-left: 24px;
    text-align: center;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#menu
{
    position: absolute;
    right: 0px;
    bottom: 4px;
    float: right;
    padding-right: 24px;
}

#menu a
{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #889;
}

#menu a.current_menu
{
    color: #113;
}

#menu a:hover
{
    color: #28E;
}

#langs
{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    padding-right: 24px;
}

#langs *
{
    color: #889;
    float: right;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

#langs a.current_lang
{
    color: #113;
}

#langs a:hover
{
    color: #28E;
}



/* Content */

#main-header, #disclaimer
{
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

#disclaimer
{
    border: 1px solid #DDD;
    background-color: #fafafa;
}

.post-date
{
    font-style: italic;
    margin-top: 10px;
}

#content
{
    font-size: 1.2em;
    padding: 42px 32px;
    text-align: justify;
}

.youtube-frame
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-img
{
    text-align: center;
    margin-bottom: 20px;
}

.content-img-thumb
{
    padding: 8px;
    border: 1px solid #DDD;
    background-color: #fafafa;
}

.content-img-thumb:hover
{
    background: #DDE;
}

.content-img *
{
    margin: 0;
}

.content-img p
{
    padding: 8px;
    font-style: italic;
    font-size: .7rem;
}

.comments
{
    text-align: center;
    margin-top: 48px;
    font-style: italic;
    color: #889;
}

.comments a
{
    color: #99A;
}

#archives
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.archive-year
{
    padding-top: 10px;
    margin-bottom: 10px;
}

.archive-year-posts
{
}

.archive-post-date
{
    text-align: right;
    font-style: italic;
}

.project-meta
{
    float: right;
    margin: 0 0 10px 24px;
    padding: 0 0 10px 0;
    border-left: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
}

.project-meta *
{
    margin: 0 0 0 10px;
}



/* Footer */

#footer
{
    color: #666;
    font-size: 0.8rem;
    text-align: center;
    border-top: 2px solid #DDD;
    clear: both;
}

#links
{
    padding: 16px 0px;
}

.link
{
    text-align: center;
    text-decoration: none;
    color: #889;
    margin: 0px 5px;
}

.link:hover
{
    color: #28E;
}



/* 404 */

.l404-message
{
    text-align: center;
    font-weight: bold;
}



/* Easter egg */

#pony
{
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}



/* Mobile */

@media (max-width:800px)
{
    body
    {
        width: 100%;
    }

    #header
    {
        height: 50px;
        padding: 0 8px;
    }

    #sub-header
    {
        padding: 0 8px;
    }

    #self
    {
        display: none;
    }

    #menu a
    {
        margin-left: 16px;
    }

    .youtube-box
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .youtube-wrapper
    {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .youtube-frame
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
