/*
   This template was originally inspired by
     * "Light" by Viktor Persson (http://templates.arcsin.se)
     * "Brume" by Aigars Dzerviniks (https://github.com/aigarsdz/brume)
*/



/* Globals */

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: #1A5E91;
}

a:hover
{
    color: #28E;
}

body
{
    background-color:#FCFCFC;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#113;
    margin: 0 auto;
    width: 710px;
}

tt
{
    font-family: 'Source Code Pro', monospace;
    background-color: #ececef;
}

blockquote,dl,h1,h2,h3,h4,h5,h6,hr,img,ol,p,table,ul,.highlight
{
    margin-bottom: 20px;
}

h2
{
    margin-top: 42px;
}

blockquote
{
    padding:16px;
    border-left:2px solid #cfcfcf;
    margin: 0 48px 20px 48px;
    background-color: #fafafa;
}

blockquote p
{
    margin: 0;
}

ol,ul
{
    margin-left:40px
}

img
{
    max-width:100%;
    height:auto;
    border:0;
    outline:0
}

.img-responsive
{
    bottom: -2;
    height: 20px;
    text-align:bottom;
    margin: 0
}

pre
{
    overflow-x: auto;
    background-color: white;
}

code
{
    font-family: 'Source Code Pro', monospace;
    background-color: #ececef;
}

pre code
{
    background-color:transparent;
}

p code, li code
{
    padding:0 2px;
}



/* Header */

#header
{
    height: 100px;
    border-bottom: 2px solid #889;
    position: relative;
}

#sub-header
{
    margin-top: 10px;
    clear: both;
    height: 32px;
    position: relative;
}

#title
{
    position: absolute;
    bottom: 4px;
    left: 0;
    float: left;
}

#self
{
    color: #133;
    float: right;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#menu
{
    position: absolute;
    right: 0px;
    bottom: 4px;
    float: right;
}

#menu a
{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #889;
}

#menu a.current_menu
{
    color: #113;
}

#menu a:hover
{
    color: #28E;
}

#langs
{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
}

#langs *
{
    color: #889;
    float: right;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

#langs a.current_lang
{
    color: #113;
}

#langs a:hover
{
    color: #28E;
}



/* Main page */

#archives table
{
    margin-top: 20px;
    width: 100%;
    border: none;
}

#archives table td
{
    vertical-align: baseline;
    padding: 4px 0;
    text-align: left;
}

#archives .archive-year
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 32px;
    font-size: 36px;
    font-weight: 700;
    width: 18%;
}

#archives .archive-date
{
    text-align: right;
    font-style: italic;
    width: 20%;
}



/* Content */

.post-header
{
    margin-top: 42px;
    margin-bottom: 20px;
    padding: 20px 0;
}

.post-title
{
    margin: 0;
    padding: 0;
}

.post-date
{
    font-style: italic;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

#content
{
    padding: 20px 0;
    text-align: justify;
    line-height: 1.5;
}

.youtube-frame
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#post table
{
    margin: 32px auto;
    border: 1px solid #BBC;
    border-collapse: collapse;
}

#post table th
{
    background-color:#e0e0ef;
    text-align: center;
    padding: 4px 20px;
}

#post table td
{
    padding: 4px 20px;
    border: 1px solid #BBC;
}

#post table tt
{
    background-color: transparent;
}

.content-img
{
    text-align: center;
    margin-bottom: 20px;
}

.content-img-thumb
{
    padding: 8px;
    background-color: #fafafa;
}

.content-img-thumb:hover
{
    background: #DDE;
}

.content-img *
{
    margin: 0;
}

.content-img p
{
    font-style: italic;
    font-size: 14px;
}

.comments
{
    text-align: center;
    margin-top: 48px;
    font-style: italic;
    color: #889;
}

.comments a
{
    color: #99A;
}


.project-meta
{
    float: right;
    margin: 0 0 10px 24px;
    padding: 0 0 10px 0;
    border-left: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
}

.project-meta *
{
    margin: 0 0 0 10px;
}



/* Footer */

#footer
{
    margin-top: 42px;
    text-align: center;
    font-size: 14px;
    border-top: 2px solid #889;
    clear: both;
}

#links
{
    padding: 16px 0px;
}

.link
{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #889;
    margin: 0px 5px;
}

.link:hover
{
    color: #28E;
}



/* 404 */

.l404-message
{
    text-align: center;
    font-weight: bold;
}



/* Easter egg */

#pony
{
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}



/* Mobile */

@media (max-width:800px)
{
    body
    {
        width: 100%;
    }

    #header
    {
        height: 50px;
        padding: 0 8px;
        position: relative;
    }

    #sub-header
    {
        padding: 0 8px;
    }

    #title
    {
        left: 32px;
    }

    #self
    {
        font-size: 36px;
    }

    #menu
    {
        right: 32px;
    }

    #langs
    {
        right: 32px;
    }

    #links
    {
        margin-left: 32px;
        margin-right: 32px;
    }

    #menu a
    {
        margin-left: 16px;
    }

    #archives .archive-year
    {
        font-size: 28px;
        font-weight: 700;
    }

    #content
    {
        margin-left: 32px;
        margin-right: 32px;
    }

    .youtube-box
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .youtube-wrapper
    {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .youtube-frame
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:600px)
{
    .archive-date
    {
        display: none;
    }
}

@media (max-width:450px)
{
    #self
    {
        font-size: 26px;
    }

    .link
    {
        font-size: 11px;
    }
}
