{% assign u=site.data.urls %}
{% assign t=site.data.text[page.lang] %}
{% capture rss %}/{{ page.lang }}/feed.xml{% endcapture %}

<div id="footer">

  <div id="links">
    <a class="link" href="{{ rss          }}"><i class="fa  fa-2x fa-rss"        ></i></a>
    <a class="link" href="{{ u.mail       }}"><i class="fa  fa-2x fa-envelope"   ></i></a>
    <a class="link" href="{{ u.twitter    }}"><i class="fab fa-2x fa-twitter"    ></i></a>
    <a class="link" href="{{ u.github     }}"><i class="fab fa-2x fa-github"     ></i></a>
    <a class="link" href="{{ u.twitch     }}"><i class="fab fa-2x fa-twitch"     ></i></a>
    <a class="link" href="{{ u.deviantart }}"><i class="fab fa-2x fa-deviantart" ></i></a>
    <a class="link" href="{{ u.bandcamp   }}"><i class="fab fa-2x fa-bandcamp"   ></i></a>
    <a class="link" href="{{ u.linkedin   }}"><i class="fab fa-2x fa-linkedin"   ></i></a>
    <a class="link" href="{{ u.resume     }}"><i class="fa  fa-2x fa-file-pdf"   ></i></a>
  </div>

  <p id="footer-text">
    {{ t.foot }}
  </p>

  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</div>
