{% assign u=site.data.urls %}
{% assign t=site.data.text[page.lang] %}
{% capture rss %}/{{ page.lang }}/feed.xml{% endcapture %}

<div id="footer">

  <div id="links">
 <a class="link" href="{{ rss          }}">         <i class="fa fa-2x fa-rss"                  ></i></a>
 <a class="link" href="{{ u.mail       }}">         <i class="fa fa-2x fa-envelope"             ></i></a>
 <a class="link" href="{{ u.linktree   }}">         <i class="fa fa-2x fa-solid  fa-link"       ></i></a>
 <a class="link" href="{{ u.twitter    }}">         <i class="fa fa-2x fa-brands fa-twitter"    ></i></a>
 <a class="link" href="{{ u.mastodon   }}" rel="me"><i class="fa fa-2x fa-brands fa-mastodon"   ></i></a>
 <a class="link" href="{{ u.github     }}">         <i class="fa fa-2x fa-brands fa-github"     ></i></a>
 <a class="link" href="{{ u.youtube    }}">         <i class="fa fa-2x fa-brands fa-youtube"    ></i></a>
 <a class="link" href="{{ u.twitch     }}">         <i class="fa fa-2x fa-brands fa-twitch"     ></i></a>
 <a class="link" href="{{ u.reddit     }}">         <i class="fa fa-2x fa-brands fa-reddit"     ></i></a>
 <a class="link" href="{{ u.tumblr     }}">         <i class="fa fa-2x fa-brands fa-tumblr"     ></i></a>
 <a class="link" href="{{ u.bandcamp   }}">         <i class="fa fa-2x fa-brands fa-bandcamp"   ></i></a>
 <a class="link" href="{{ u.flickr     }}">         <i class="fa fa-2x fa-brands fa-flickr"     ></i></a>
 <a class="link" href="{{ u.deviantart }}">         <i class="fa fa-2x fa-brands fa-deviantart" ></i></a>
 <a class="link" href="{{ u.linkedin   }}">         <i class="fa fa-2x fa-brands fa-linkedin"   ></i></a>
 <a class="link" href="{{ u.resume     }}">         <i class="fa fa-2x fa-solid  fa-file-pdf"   ></i></a>
  </div>

  <p id="footer-text">
    {{ t.foot }}
  </p>

  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</div>
