{% assign t=site.data.text.[page.lang] %}
{% assign u=site.data.urls %}

<div id="header">

  <div id="title">
    <a href="/{{ page.lang }}/{{ u.home }}" id="self">Antoine Leblanc</a>
  </div>

  <div id="menu">
    <a {% if page.index == 3 %}class="current_menu"{% endif %} accesskey="3" title="" href="/{{ page.lang }}/{{ u.about }}">{{ t.about }}</a>
    <a {% if page.index == 2 %}class="current_menu"{% endif %} accesskey="2" title="" href="/{{ page.lang }}/{{ u.projs }}">{{ t.projs }}</a>
    <a {% if page.index == 1 %}class="current_menu"{% endif %} accesskey="1" title="" href="/{{ page.lang }}/{{ u.home  }}">{{ t.home  }}</a>
  </div>

</div>

<div id="sub-header">

  <div id="langs">
    <a{% if page.lang == "fr" %} class="current_lang"{% endif %} href="{{ page.url | set_lang: 'fr' }}">Fr</a>
    <span>/</span>
    <a{% if page.lang == "en" %} class="current_lang"{% endif %} href="{{ page.url | set_lang: 'en' }}">En</a>
  </div>

</div>
