{% if include.title %}
  {% assign title=include.title %}
{% else %}
  {% if include.legend %}
    {% assign title=include.legend %}
  {% endif %}
{% endif %}

<div class="content-img" {% if include.style %} style="{{ include.style }}" {% endif %} >
  <a href="/img/{{ include.src }}"
     data-lightbox="illustrations"
     {% if include.legend %} title="{{ include.legend | xml_escape }}" {% endif %}
     >
    <img class="content-img-thumb"
         {% if include.thumb %}   src="/img/{{ include.thumb }}" {% else %}
                                  src="/img/{{ include.src }}"   {% endif %}
         {% if title %}           alt="{{ title }}"              {% endif %}
         {% if title %}         title="{{ title }}"              {% endif %}
         {% if include.width %} width="{{ include.width }}"      {% endif %}
         />
  </a>
  {% if include.legend %} <p>{{ include.legend }}</p> {% endif %}
</div>
