<!DOCTYPE html>
<html>

  <!--
      Two images used on this site are uncredited due to unknown source:
          * /img/rainbow_dash.gif
          * /img/sad_pinkie.png

      If you are the author and want to be credited, please send-me an e-mail
      at antoine.jp.leblanc@gmail.com
    -->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" {% if page.title == "Home" %}
          content="{{ site.data.site.description }}" {% else %}
          content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
    <meta name="author" content="{{ site.data.site.author }}">
    <meta name="viewport" content="width=device-width">

    <title>{{ site.data.site.name }} &middot; {{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon.png?v=6938eL4QRB">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=6938eL4QRB">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=6938eL4QRB">
    <link rel="manifest" href="/img/icons/site.webmanifest?v=6938eL4QRB">
    <link rel="shortcut icon" href="/img/icons/favicon.ico?v=6938eL4QRB">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml?v=6938eL4QRB">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet"    href="/css/responsive.gs.12col.css" />
    <link rel="stylesheet"    href="/css/fontawesome.min.css" />
    <link rel="stylesheet"    href="/css/default.css" />
    <link rel="stylesheet"    href="/css/syntax.css" />
    <link rel="stylesheet"    href="/css/lightbox.css"  />
    <link rel="alternate"     href="/{{ page.lang }}/feed.xml" type="application/rss+xml" title="{{ site.name }}" />
    <link rel="author"        href="/humans.txt" type="text/plain" />

    <script src="/js/konami.js"></script>
    <script src="/js/rainbow.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro&family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    {% include header.html %}

    <div id="page">
      <div id="content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <div id="pony">
    </div>
  </body>

</html>
