---
layout: default
---

{% assign p=site.categories[page.lang] %}
{% assign t=site.data.text[page.lang] %}
{% assign u=site.data.urls %}

<div id="archives">
  <table>
    {% for group in site.data.yearly[page.lang] %}
      {% for page in group.pages %}
        {% capture class %}{% endcapture %}
        <tr>
          {% if forloop.first %}
            {% capture class %}first-row{% endcapture %}
            <td class="archive-year" rowspan="{{group.count}}">
              {{ page.date | date: '%Y' }}
            </td>
          {% endif %}
          <td class="archive-article {{ class }}">
            <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
            {% if page.comment %}
              <br /><span>{{page.comment}}</span>
            {% endif %}
          </td>
          <td class="archive-date {{ class }}">
            {{ page.date | uni_date }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
